body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
}

.logo {
    width: 100px;
    padding: 30px 20px;
    float: left;
}

/* Navigation */
#navigation {
    display: flex;
    flex-direction: row;
    clear: left;
}

.navigation__accommodations, .navigation__activities {
    border-bottom: 4px #F2F2F2 solid;
    width: 50%;
    height: 35px;
    text-align: center;
}

.navigation__accommodations {
    border-bottom: 4px #0065FC solid;
}

.navigation__accommodations a{
    color: #0065FC;
}

.navigation__sign-up { /* Position of "S'inscrire" */
    position: absolute;
    top: 44px;
    right: 20px;
}  

.navigation__sign-up, .stars {
    font-weight: bold;
    color: #0065FC;
}

nav a {
    text-decoration: none; /* Remove the underline */ 
    color: #000;
}

ul { /* Remove the browser css prefilled */
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
}


h1, h2, h3 {
    font-weight: bold;
}

/* Section 1 Search */
#search {
    padding: 12px 20px 0 20px;
}

h1 {
    font-size: 22px;
}

.search__bar {
    border: 1px #F2F2F2 solid;
}

.search__bar, .search__filters li {
    margin-top: 15px;
    display: inline-flex;
    flex-grow: 1;
}

.search__bar__input {
    outline: none;
    border: none;
    padding: 0 2px;
}

.search__bar__input::placeholder {
    font-family: Raleway;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.search__bar__map-marker {
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search__bar__map-marker, .search__bar__button, .search__filters i {
    width: 50px;
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__bar__button {
    background-color: #0065FC;
    color: #FFF;
    outline: none;
    border: none;
    cursor: pointer;
}

.search__bar, div {
    width: 100%;
}

.search__filters li {
    font-weight: bold;
    border: 2px #F2F2F2 solid;
    align-items: center;
}

.search__filters i {
    background-color: #DEEBFF;
    color: #0065FC;
}

.search__filters p {
    padding: 0 15px;
}

.search__filters li, .search__filters i {
    border-radius: 30px;
}

.info {
    border: 2px #F2F2F2 solid;
    border-radius: 30px;
    padding:6px 10px;
    color: #0065FC;
}

#accommodations__popular, footer {
    background-color: #F2F2F2;
}

#accommodations__popular, #accommodations__marseille, #activities, footer {
    padding: 40px 5%;
}

div {
    margin-bottom: 10px;
}

#accommodations__popular div {
    background-color: #FFF;
    border: 1px #FFF solid;
    padding: 5px;
    height: 140px;
}

#accommodations__popular img, #accommodations__marseille img, #activities img {
    object-fit: cover;
}

#accommodations__popular img {
    width: 125px;
    height: 140px;
    float: left;
    margin-right: 20px;
}

.search__bar, .search__bar__button, #accommodations__popular div, #accommodations__marseille div, #activities div {
    border-radius: 15px;
}
    
#accommodations__popular img {
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
}

#accommodations__marseille div, #activities div {
    border: 1px #F2F2F2 solid;
    box-shadow: 0 0 20px #F2F2F2;  
}

#accommodations__marseille div {
    height: 220px;
    padding: 5px;  
}

#accommodations__marseille img, #activities img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 5px;
    width: 100%;
    height: 120px;
}

#accommodations__marseille h3, #accommodations__marseille p, #accommodations__marseille i {
    margin: 5px 0;
}

#accommodations__marseille h3, #accommodations__marseille p {
    padding: 0 10px;
}

#accommodations__marseille i {
    padding: 0;
}

.empty-stars {
    color: #F2F2F2;
}

#activities div {
    height: 190px;
}
