/* -------------- */
/* General values */
/* -------------- */

    @font-face {
        font-family: 'Raleway';
        src: url('fonts/Raleway-Medium.ttf');
    }

    @font-face {
        font-family: 'Raleway bold';
        src: url('fonts/Raleway-Bold.ttf');
    }

    body {
        font-family: 'Raleway', sans-serif;
        margin: 0; /* Remove the browser's default values */
    }

    /* Remove the browser's default values for links */
    a {
        text-decoration: none;
        color: #000;
    }

    /* Remove the browser's default values for lists */
    ul { 
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    /* Raleway bold */
    .font-bold { 
        font-family: 'Raleway bold';
    }

    .blue { 
        color: #0065FC;
    }

    .empty-stars {
        color: #F2F2F2;
    }

    /* Border of : .search-bar, .accommodations__marseille div */
    .border { 
        border: 1px #F2F2F2 solid;
    }

    .grey-background {
        background-color: #F2F2F2;
    }

    /* Border radius of .accommodations__popular img and .search__bar__map-marker */
    .rounded-left-edges {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    /* ------ */
    /* Header */
    /* ------ */
    /* Logo Reservia position */
    #logo { 
        float: left;
    }

    /* Navigation's menu position */
    #navigation {
        display: flex;
        flex-direction: row;
        clear: left;
    }

    /* ---------------- */
    /* Section 1 Search */
    /* ---------------- */
    .search__bar {
        border-radius: 15px;
    }
    
    /* Search bar and Search filters position */
    .search__bar, .search__filters li {
        display: inline-flex;
    }

    /* Remove the browser's default values for input */
    .search__bar__input {
        outline: none;
        border: none;
    }

    /* Font style of input and input's placeholder */
    .search__bar__input::placeholder, input {
        font-family: 'Raleway bold';
        color: #000;
    }

    /* Icons' position */
    .search__bar__map-marker, .search__bar__button, .search__filters i {
        display: flex;
        align-items: center;
        justify-content: center;   
    }

    .search__bar__map-marker, .search__filters i {
        position: absolute;
    }
    
    .search__bar__map-marker {
        font-size: 14px;
    }
    
    .search__bar__map-marker {
        width: 52px;
        margin-top: -1px;
        margin-left: -2px;
    }
    
    /* Button's color + position */
    .search__bar__button {
        background-color: #0065FC;
        color: #FFF;
        outline: none;
        border: none;
        cursor: pointer;
        margin-top: -1px;
    }
    
    /* Button's icon size */
    .search__bar__button i {
        font-size: 17px;
    }

    /* Elements that take the entire width of the screen */
    .full-width {
        width: 100%;
    }

    /* Margin between the search bar and the h2 "Filtres" */
    .search__filters h2 {
        margin: 22px 0 0 0;
        font-size: 16px;
    }

    .search__filters li {
        border: 2px #D9D9D9 solid; /* Filters borders -> darker grey */
        align-items: center;
        position: relative;
    }

    /* Filters icons size */
    .search__filters i {
        background-color: #DEEBFF;
        margin-left: -3px;
        width: 47px;
        height: 47px;
    }

    .search__filters>ul>li:hover {
        border: 2px #0065FC solid;
        color: #0065FC;
        cursor: pointer;
    }
    
    .search__filters>ul>li:hover>i {
        background-color: #0065FC;
        color: #DEEBFF;
    }

    /* Filters' name position */
    .search__filters p {
        padding: 0 15px 0 60px;
        margin: 12px 0;
    }

    .search__filters li, .search__filters i, .search__info__icon {
        border-radius: 30px;
    }

    .search__info {
        display: flex;
        flex-direction: row;
    }
    
    /* Information icon borders */
    .search__info__icon {
        border: 1px #D9D9D9 solid;
        padding: 6px 9px; /* Dimension of the circle */
        margin-right: 10px;
        height: 10px; /* Correct the height modified by flexbox */
    }
    
    .search__info i {
        font-size: 11px; /* Size of the information icon */
    }
    
    .search__info p {
        width: 100%;
        margin: 0; /* Remove the browser's default value */
    }

    /* ------------------------ */
    /* Section 2 Accommodations */
    /* ------------------------ */
    /* Les plus populaires */
    /* ------------------- */

    .accommodations__popular__block, .accommodations__marseille__block {
        position: relative; /* Allows to position the stars with position absolute */
    }

    .accommodations__popular__block {
        background-color: #FFF;
        padding: 5px;
        width: auto;
        box-shadow: 3px 3px 15px #D9D9D9;
    }

    /*  "Les plus populaires"'s images position */ 
    #accommodations__popular img {
        float: left;
        margin-right: 20px; /* Space between the text and the image */
    }

    .all-edges-rounded {
        border-radius: 20px;
    }
    
    div {
        margin-bottom: 10px;
    }

    .accommodations__popular__title {
        display: flex;
        justify-content: space-between;
    }
    
    .accommodations__popular__title i {
        align-self: center; /* Align the icon with the h2 */
    }
    
    /* Fit the images inside the boxes */
    #accommodations__popular img, #accommodations__marseille img, #activities img {
        object-fit: cover;
        object-position: center;
    }
    

    /* Hébergements à Marseille */
    /* ------------------------ */
    #accommodations__marseille .price, .accommodations__popular .price {
        font-size: 14px;
    }

    #accommodations__marseille .price{
        margin: 2px 0 0 0;
    }
    
    /* Images top rounded edges */
    #accommodations__marseille img, #activities img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin: 0 0 5px 0; /* Padding between images and h3 */
    }
    
    /* "Hébergements à Marseille"'s description padding */ 
    #accommodations__marseille h3, #accommodations__marseille .price, #accommodations__marseille .stars, #activities h3 {
        padding: 0 10px;
    }
    
    /* Remove the browser's default values */
    #accommodations__marseille h3 {
        margin: 0;  
    }
    
    .accommodations__marseille__block .rate {
        position: absolute;
        bottom: 8px;
        margin-bottom: 0;
    }
    
    /* Remove the browser's default values */
    #accommodations__marseille i {
        padding: 0; 
    }


    /* -------------------- */
    /* Section 3 Activities */
    /* -------------------- */
    .activities__blocks__marseille {
        box-shadow: 3px 3px 15px #D9D9D9;
    }

    #activities h2 {
        margin-bottom: 26px;
    }

    #activities h3 {
        margin: 8px;
    }


    /* ------ */
    /* Footer */
    /* ------ */
    footer {
        padding: 10px 20px;
    }

    footer h2 {
        font-size: 18px;
    }

    footer li {
        margin: 14px 0;
    }

    footer div {
        margin: 40px 0;
    }



/* -------------------------------------- */
/* Values for mobiles and tablets < 1024px */
/* -------------------------------------- */
@media screen and (max-width: 1024px) {
     /* Space between the filters */
     .search__filters li {
        margin-right: 7px;
    }

    .search__info {
        margin: 35px 0;
    }
}



/* -------------------------------------- */
/* Values for tablets and desktop > 768px */
/* -------------------------------------- */
    @media screen and (min-width: 768px) {
        /* ------ */
        /* Header */
        /* ------ */
        #logo {
            width: 90px;
        }

        header {
            display: flex;
            justify-content: space-between;
        }

        /*Position of navigation's elements "Hébergements" and "Activités" */
        #navigation li{ 
            padding: 38px 28px 0 28px;
        }
    
        #navigation__activities, #navigation__sign-up {
            border-top: 3.5px #FFF solid;
        }
    
        /* Underline the navigation's element "Hébergements" in blue for mobile version */
        #navigation__accommodations {
            border-top: 3.5px #0065FC solid; 
        }

        
        /* ---------------- */
        /* Section 1 Search */
        /* ---------------- */            
        h1 {
            font-size: 20px;
            margin: 18px 0 5px 0;
        }
    
        .search__description {
            margin: 0 0 6px 0;
        }
    
        .search__bar {
            width: 380px;
        }

        /* Search bar and Search filters position */
        .search__bar, .search__filters li {
            margin-top: 10px;
        }

        .search__bar__map-marker, .search__bar__button {
            height: 45px;
        }

        /* Search bar button width and border-radius */
        .search__bar__button {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            width: 115px;
            font-size: 16px;
        }

        /* Input position and size */
        .search__bar__input {  
            margin-right: 12px; 
            padding: 0 0 0 70px;
            height: 40px;
            width: 190px;
        }

        /* Font size of input and input's placeholder */
        .search__bar__input::placeholder, input {
            font-size: 16px;
        }

        /* Hide button's search icon -> show button text */
        .search__bar__button i {
            display: none;
        }


        /* ------------------------ */
        /* Section 2 Accommodations */
        /* ------------------------ */
        #accommodations h2, #activities h2{
            font-size: 20px;
        }

        .marseille__blocks {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .marseille__blocks a {
            width: 31.5%;
        }

        .accommodations__marseille__block {
            background-color: #FFF;
            padding: 5px;
            height: 165px;
            box-shadow: 3px 3px 15px #D9D9D9;
        }

        #accommodations__marseille img {
            height: 100px;
            width: 100%;
        }
    }