/* -------------------------------------- */
/* Values for tablets > 768px and < 991px */
/* -------------------------------------- */
    body, h3 {
        font-size: 15px;
    }

    /* ------ */
    /* Header */
    /* ------ */
    /* Logo Reservia position */
    #logo {
        padding: 30px 0 0 25px;
    }
    
    nav {
        padding-right: 14px;
    }

    /* ---------------- */
    /* Section 1 Search */
    /* ---------------- */
    /* Position of section 1 */
    #search {
        padding: 15px 25px 0 25px;
    }

    .search__filters h2 {
        padding-bottom: 5px;
        font-size: 20px;
    }

    /* ------------------------ */
    /* Section 2 Accommodations */
    /* ------------------------ */

    /* Les plus populaires */
    /*-------------------- */
    #accommodations__popular {
        padding: 15px 25px;
    }

    #accommodations__popular__marseille {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*  "Les plus populaires"'s images dimensions and position */ 
    #accommodations__popular img {
        width: 34%;
        height: 110px;
        margin-right: 10px;
    }

    .accommodations__popular__block {
        height: 110px;
    }
    
    #accommodations__popular__marseille a {
        width: 31.5%;
    }

    #accommodations__popular h3 {
        margin: 4px 0;
    }

    .accommodations__popular__block .price {
        margin: 2px 0 7px 0;
    }
    

    /* Hébergements à Marseille */
    /* ------------------------ */
    #accommodations__marseille {
        padding: 25px;
    }

    #accommodations__marseille h2 {
        margin-bottom: 25px;
    }

    .accommodations__marseille__block {
        margin-bottom: 20px;
    }

    .accommodations__marseille__more {
        margin : 20px 0 0 0;
        font-size: 18px;
    }


    /* -------------------- */
    /* Section 3 Activities */
    /* -------------------- */
    #activities {
        padding: 25px 25px 10px 25px;
    }

    #activities__blocks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    #activities__blocks a {
        width: 48%;
    }

    .activities__blocks__marseille {
        height: 190px;
        margin-bottom: 25px;
    }

    #activities img {
        height: 135px;
    }

    /* -------*/
    /* Footer */
    /* -------*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0 0 25px;
    }

    footer div {
        width: 30%;
    }